streamlit
requests
dotenv
paddleocr
paddlepaddle
fastapi
uvicorn
langchain
langchain-core
langchain-community
langchain-ollama
pydantic
python-dateutil
chromadb
langchain-chroma
unstructured
unstructured[md]
